<!--inicio row precios-->
          <h1 class="titCategoria p-2">Precios</h1>
          <div class="row p-0">
              <!--ini card Precios-->
              <ng-container *ngFor="let produce of produceUsuario;">
                <div class="col-sm-12 col-md-6 col-lg-6 pb-3">
                  <div class="card smb-22">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      {{produce.nombre_producto}} - {{produce.nombre_departamento}}
                      <small *ngIf="produce.transable==1">Prod. transable</small>
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-0 col-md-3 col-lg-6">
                          </div>
                          <div class="btn-group col-sm-12 col-md-9 col-lg-6 mb-0 mt-0" role="group" aria-label="Basic example">
                            <button (click)="actualizarTipoPrecio(0)" type="button"
                                [class.bg-green1]="tipoPrecios === 0"
                                [class.bg-green2]="tipoPrecios === 1"
                                 class="btn btn-sm">Corriente</button>
                            <button (click)="actualizarTipoPrecio(1)" type="button"
                                [class.bg-green1]="tipoPrecios === 1"
                                [class.bg-green2]="tipoPrecios === 0"
                                class="btn btn-sm">Constante</button>
                          </div>
                        </div>
                     </div>
                     <div class="card-text pt-2">
                       <div *ngIf="produce.transable==1" class="container">
                         <div class="row">
                           <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                             <div class="text-center p-4"><strong>NAL.Bolsa de Valores de Colombia (BVC)</strong></div>
                             <app-graphs [ArrayData]='dataArray' [ArrayLabels]='dataLabels'></app-graphs>
                           </div>
                           <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                            <div class="text-center p-4"><strong>INT. Chicago Mercantile Exchange (CME)</strong></div>
                             <app-graphs [ArrayData]='dataArrayCME' [ArrayLabels]='dataLabels'></app-graphs>
                           </div>
                         </div>
                       </div>
                       <div *ngIf="produce.transable==0" class="container">
                         <div class="row">
                           <div class="col-sm-12 col-md-12 col-lg-12 p-0">
                             <app-graphs [ArrayData]='dataArray' [ArrayLabels]='dataLabels'></app-graphs>
                           </div>
                         </div>
                       </div>
                       <!-- <app-graphs [datosGraph]='dataGraph'></app-graphs> -->
                     </div>
                    </div>
                    <div class="card-footer">
                      <button (click)="ActualizarPrecios('mensual',produce.id_producto)" type="button" class="btn btn-sm mr-1 btn-periodo"
                      [class.active]="rangoConsulta == 'mensual'">Mes</button>
                      <button (click)="ActualizarPrecios('semanal',produce.id_producto)" type="button" class="btn btn-sm mr-1 btn-periodo">Semana</button>
                      <button (click)="ActualizarPrecios('anual',produce.id_producto)"type="button" class="btn btn-sm mr-1 btn-periodo">Año</button>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!--fin card Precios-->
        </div>
         <!-- fin row precios-->

         <!-- inicio row clima-->
         <a name="clima"></a>
            <h1 class="titCategoria">Clima</h1>
              <div class="row">

                <!--ini card-->
                <ng-container *ngFor="let produce of produceUsuario;">
                <div class="col-sm-12 col-md-6 col-lg-6 pb-3">
                  <div class="card smb-22">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      {{produce.nombre_departamento}} - {{produce.nombre_municipio}} - {{produce.nombre_vereda}}
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <p class="card-text pt-2">
                       <!-- <app-graphs></app-graphs> -->
                     </p>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Década</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Año</button>
                    </div>
                  </div>
                </div>
              </ng-container>
                <!--fin card-->
            </div>
            <!--fin row clima-->
