<h1 class="titPrincipal p-3">¡Bienvenido!</h1>
<!--inicio row precios-->
          <h1 class="titCategoria p-2">Precios</h1>
          <div class="row p-0">
              <!--ini card Precios-->
              <ng-container *ngFor="let produce of produceUsuario;">
                <div class="col-sm-12 col-md-6 col-lg-6 pb-3">
                  <div class="card smb-22">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      {{produce.nombre_producto}} - {{produce.nombre_departamento}}
                      <small *ngIf="produce.transable==1">Prod. transable</small>
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-0 col-md-3 col-lg-6">
                          </div>
                          <div class="btn-group col-sm-12 col-md-9 col-lg-6 mb-0 mt-0" role="group" aria-label="Basic example">
                            <button (click)="actualizarTipoPrecio('corrientes',produce.id_producto)" type="button" class="btn btn-card btn-sm"
                            [class.btn-card-active]="produce.preciosTipo === 'corrientes'"
                            >Corriente</button>
                            <button (click)="actualizarTipoPrecio('constantes',produce.id_producto)" type="button" class="btn btn-card btn-sm"
                            [class.btn-card-active]="produce.preciosTipo === 'constantes'"
                            >Constante</button>
                          </div>
                        </div>
                     </div>
                     <div class="card-text pt-2">
                       <div *ngIf="produce.transable==1" class="container">
                         <div class="row">
                           <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                             <div class="text-center p-4"><strong>NAL.Bolsa de Valores de Colombia (BVC)</strong></div>

                     <div *ngIf="produce.graficar=='on'" class="col-sm-12 col-md-12 col-lg-12 p-0">
                      <div *ngIf="produce.preciosTipo=='corrientes'" class="col-sm-12 col-md-12 col-lg-12 p-0">
                       <app-graphs [ArrayData]='produce.dataCorrientes' [ArrayLabels]='produce.datalabels'></app-graphs>
                      </div>
                      <div *ngIf="produce.preciosTipo=='constantes'" class="col-sm-12 col-md-12 col-lg-12 p-0">
                       <app-graphs [ArrayData]='produce.dataConstantes' [ArrayLabels]='produce.datalabels'></app-graphs>
                      </div>
                     </div>

                           </div>
                           <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                            <div class="text-center p-4"><strong>INT. Chicago Mercantile Exchange (CME)</strong></div>
                             <app-graphs [ArrayData]='dataArrayCME' [ArrayLabels]='dataLabels'></app-graphs>
                           </div>
                         </div>
                       </div>
                       <div *ngIf="produce.transable==0" class="container">
                         <div class="row">
       <div *ngIf="produce.graficar=='on'" class="col-sm-12 col-md-12 col-lg-12 p-0">
        <div *ngIf="produce.preciosTipo=='corrientes'" class="col-sm-12 col-md-12 col-lg-12 p-0">
         <app-graphs [ArrayData]='produce.dataCorrientes' [ArrayLabels]='produce.datalabels'></app-graphs>
        </div>
        <div *ngIf="produce.preciosTipo=='constantes'" class="col-sm-12 col-md-12 col-lg-12 p-0">
         <app-graphs [ArrayData]='produce.dataConstantes' [ArrayLabels]='produce.datalabels'></app-graphs>
        </div>
       </div>
                         </div>
                       </div>
                     </div>
                    </div>
                    <!--<div class="container">
                      <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                           dataLabels
                             <ul>
                               <li *ngFor="let prueba of produce.datalabels;">{{prueba}}</li>
                             </ul>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                          constantes
                           <ul>
                               <li *ngFor="let prueba of produce.dataCorrientes;">{{prueba}}</li>
                           </ul>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                          corrientes
                           <ul>
                               <li *ngFor="let prueba of produce.dataConstantes;">{{prueba}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>-->


                    <div class="card-footer">
                      <button id="btn_{{produce.id_producto}}" (click)="actualizarPeriodoPrecios('anual',produce.id_producto)"type="button" class="btn btn-sm mr-1 btn-card" [class.btn-card-active]="produce.periodo === 'anual'"
                      >Año</button>
                      <button id="btn_{{produce.id_producto}}" (click)="actualizarPeriodoPrecios('mensual',produce.id_producto)" type="button" class="btn btn-sm mr-1 btn-card" [class.btn-card-active]="produce.periodo === 'mensual'"
                      >Mes</button>
                      <button id="btn_{{produce.id_producto}}" (click)="actualizarPeriodoPrecios('semanal',produce.id_producto)" type="button" class="btn btn-sm mr-1 btn-card" [class.btn-card-active]="produce.periodo === 'semanal'"
                      >Semana</button>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!--fin card Precios-->
        </div>
         <!-- fin row precios-->

         <!-- inicio row clima-->
         <a name="clima"></a>
            <h1 class="titCategoria">Clima</h1>
              <div class="row">

                <!--ini card-->
                <ng-container *ngFor="let produce of produceUsuario;">
                <div class="col-sm-12 col-md-6 col-lg-6 pb-3">
                  <div class="card smb-22">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      {{produce.nombre_departamento}} - {{produce.nombre_municipio}} - {{produce.nombre_vereda}}
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                      <div *ngIf="produce.graficarClima=='on'" class="card-text pt-2">
                       <app-graphs-bar [ArrayData]='produce.dataClima' [ArrayLabels]='produce.dataLabelsClima'>
                       </app-graphs-bar>
                     </div>
                    </div>
                    <div class="card-footer bg-light">
                      <button id="btnClima_{{produce.id_producto}}" (click)="actualizarPeriodoClima('semanal',produce.id_producto)"type="button" class="btn btn-sm mr-1 btn-card" [class.btn-card-active]="produce.periodoClima === 'semanal'"
                      >Semana</button>
                      <button id="btnClima_{{produce.id_producto}}" (click)="actualizarPeriodoClima('decadal',produce.id_producto)"type="button" class="btn btn-sm mr-1 btn-card" [class.btn-card-active]="produce.periodoClima === 'decadal'"
                      >Decadal</button>
                      <button id="btnClima_{{produce.id_producto}}" (click)="actualizarPeriodoClima('mensual',produce.id_producto)"type="button" class="btn btn-sm mr-1 btn-card" [class.btn-card-active]="produce.periodoClima === 'mensual'"
                      >Mes</button>
                    </div>
                  </div>
                </div>
              </ng-container>
                <!--fin card-->
            </div>
            <!--fin row clima-->

