<!--
<app-navbarboard></app-navbarboard>
-->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2  d-none d-md-block bg-purple sidebar">
          <div class="brand">
            <img src="../../assets/images/img.jpg" alt="..." class="rounded-circle border border-dark" style="max-width: 50px; margin-right: 5px;">
            <span>{{usuarioSesion}}</span>
          </div>
          <div class="sidebar-sticky">
            <ul class="navbar-primary-menu">
            <ng-container *ngFor="let opcionesMenu of menuLateral; let i = index">
              <li>
                <a class="nav-link" routerLink="/board">
                  <i class="{{opcionesMenu.icono}} mr-1"></i>
                  {{opcionesMenu.titulo}}
                  <!--<i class="fas fa-pen f-r"></i>-->
                </a>
                  <!--inicio submenu-->
                  <ul class="children" *ngIf="opcionesMenu.submenu>0">
                    <ng-container *ngFor="let subitems of opcionesMenu.items_sub">
                    <li><a href="#" routerLink="/board"><i class="far fa-arrow-alt-circle-right f-r"></i>{{subitems.titulo_sub}}</a></li>
                    </ng-container>
                  </ul>
                  <!--fin submenu-->

              </li>
            </ng-container>

            </ul>


          </div>
        </nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">  <div class="container">
        <div class="row">
           <div class="col-sm-6 col-md-9 col-lg-10 ta-right p-2 border-right">
            Glosario de términos
           </div>
           <div class="col-sm-6 col-md-3 col-lg-2 ta-right p-2">
            <a  (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
           </div>
        </div>
    </div>
  </div>

  <div class="container-fluid pl-2 m-0">
    <h1 class="titPrincipal p-3">¡Bienvenido!</h1>
    <section id="modulos" class="p-0 m-0 bg-light">
      <div class="container-fluid p-0 m-0">
          <!--inicio row precios-->
          <h1 class="titCategoria p-2">Precios</h1>
          <div class="row p-0">
              <!--ini card Precios-->
              <ng-container *ngFor="let produce of produceUsuario;">
                <div class="col-sm-12 col-md-6 col-lg-6 pb-3">
                  <div class="card smb-22">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      {{produce.nombre_producto}} - {{produce.nombre_departamento}}
                      <small *ngIf="produce.transable==1">Prod. transable</small>
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-0 col-md-3 col-lg-6">
                          </div>
                          <div class="btn-group col-sm-12 col-md-9 col-lg-6 mb-0 mt-0" role="group" aria-label="Basic example">
                            <button (click)="actualizarTipoPrecio(0)" type="button"
                                [class.bg-green1]="tipoPrecios === 0"
                                [class.bg-green2]="tipoPrecios === 1"
                                 class="btn btn-sm">Corriente</button>
                            <button (click)="actualizarTipoPrecio(1)" type="button"
                                [class.bg-green1]="tipoPrecios === 1"
                                [class.bg-green2]="tipoPrecios === 0"
                                class="btn btn-sm">Constante</button>
                          </div>
                        </div>
                     </div>
                     <div class="card-text pt-2">
                       <div *ngIf="produce.transable==1" class="container">
                         <div class="row">
                           <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                             <div class="text-center p-4"><strong>NAL.Bolsa de Valores de Colombia (BVC)</strong></div>
                             <app-graphs [ArrayData]='dataArray' [ArrayLabels]='dataLabels'></app-graphs>
                           </div>
                           <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                            <div class="text-center p-4"><strong>INT. Chicago Mercantile Exchange (CME)</strong></div>
                             <app-graphs [ArrayData]='dataArrayCME' [ArrayLabels]='dataLabels'></app-graphs>
                           </div>
                         </div>
                       </div>
                       <div *ngIf="produce.transable==0" class="container">
                         <div class="row">
                           <div class="col-sm-12 col-md-12 col-lg-12 p-0">
                             <app-graphs [ArrayData]='dataArray' [ArrayLabels]='dataLabels'></app-graphs>
                           </div>
                         </div>
                       </div>
                       <!-- <app-graphs [datosGraph]='dataGraph'></app-graphs> -->
                     </div>
                    </div>
                    <div class="card-footer">
                      <button (click)="ActualizarPrecios('mensual',produce.id_producto)" type="button" class="btn btn-sm mr-1 btn-periodo"
                      [class.active]="rangoConsulta == 'mensual'">Mes</button>
                      <button (click)="ActualizarPrecios('semanal',produce.id_producto)" type="button" class="btn btn-sm mr-1 btn-periodo">Semana</button>
                      <button (click)="ActualizarPrecios('anual',produce.id_producto)"type="button" class="btn btn-sm mr-1 btn-periodo">Año</button>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!--fin card Precios-->
        </div>
         <!-- fin row precios-->

         <!-- inicio row clima-->
         <a name="clima"></a>
            <h1 class="titCategoria">Clima</h1>
              <div class="row">

                <!--ini card-->
                <ng-container *ngFor="let produce of produceUsuario;">
                <div class="col-sm-12 col-md-6 col-lg-6 pb-3">
                  <div class="card smb-22">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      {{produce.nombre_departamento}} - {{produce.nombre_municipio}} - {{produce.nombre_vereda}}
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <p class="card-text pt-2">
                       <!-- <app-graphs></app-graphs> -->
                     </p>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Década</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Año</button>
                    </div>
                  </div>
                </div>
              </ng-container>
                <!--fin card-->
            </div>
            <!--fin row clima-->
      </div>
    </section>
  </div>
 <!--/módulos-->
        </main>
      </div>
    </div>

