<!--navbar-->
<app-navbarhome></app-navbarhome>
<!--/navbar-->
<main id="main">
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
    <!--<div class="carousel-inner">
      <div class="carousel-item active">-->
        <img class="d-block w-100" src="/assets/images/agriculture-blue-blue-sky-461831-2-1024x351.jpg">
      <!--</div>
    </div>-->
    <div class="overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 offset-md-12 text-center">
            <p class="txt-home">Soluciones agropecuarias inteligentes</p>
            <button type="button" class="btn-contacto" routerLink="/contactanos">CONTÁCTANOS</button>
          </div>
        </div>
    </div>
  </div>
 </div>
</main>
<!--módulos-->
    <section id="modulos" class="mt-4 mb-4">
      <div class="container">
        <div class="row">

          <div class="col-md-4  mb-4">
            <div class="card border-0">
              <div class="card-body">
                <h5 class="card-title tit-home">Módulo de producción</h5>
                 <ul class="lista-home">
                    <li>Producción agrícola</li>
                    <li>Producción animal</li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card border-0">
              <div class="card-body">
                <h5 class="card-title tit-home">Módulo de mercado</h5>
                  <ul class="lista-home">
                    <li>Precios al productor</li>
                    <li>Precios al mayorista</li>
                    <li>Precios al consumidor</li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card border-0">
              <div class="card-body">
                <h5 class="card-title tit-home">Módulo de clima</h5>
                  <ul class="lista-home">
                    <li>Temperatura</li>
                    <li>Lluvia</li>
                    <li>Brillo solar</li>
                  </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!--/módulos-->
