#LogoNavBar{
  max-width: 130px;
  padding-left: 2px;
}

.navbar{
        color: #FFF !important;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
}

.txtPrincipal-home {
  font-size: 15px;
  color: #FFF;
}
.nav-item{
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  padding-left: 20px;
}

#navbarSupportedContent a{
  font-weight: bold;
}

#navbarSupportedContent a:hover{
  color: #4F1087;
  font-weight: bold;
}

#navbarSupportedContent a.but {
  background-color: #4F1087;
  border: none;
  color: white;
  border-radius: 30px;
  padding: 4px 40px;
  text-align: center;
}
#navbarSupportedContent a.but:hover {
  background-color: #1B7A6F;
  color:white;

}
.activo{
  color: #502975;
  font-weight: bold;
}

#navbarSupportedContent a.activo {
  color: #4F1087;
  font-weight: bold;
}
.btn-navbar{
  background-color: #4F1087;
  border: none;
  color: white;
  padding: 2px 30px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.btn-navbar-transparent{
  /*background-color: #FFF;*/
   border: none;
  color: gray;
  padding: 2px 30px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
