#contenedorLogin {
  position: relative;
  background-image: url('/assets/images/Agrodat-App-15.png');

}

#contenedorLogin .overlay {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  }
#contenedorLogin .overlay .container,
#contenedorLogin .overlay .row  {
height: 90%;
}
#contenedorLogin .overlay .container .row .msgHome{
position: absolute;
top: 100px;
}
#loginForm .loginForm-bg {
font-weight: bold;
text-align: left;
width: 80%;
background-color: white;
color:#1B7A6F;
padding: 40px;
border-radius: 8px;
/**sombra**/
-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
float: right;
}

#loginForm .inputsForm{
  border-radius: 15px;
  background-color: #D5F5E3;
  font-size: 12px;
}

#loginForm .titLogin {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 25px;
}
#loginForm .titForm label {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
}
#loginForm .titFooterForm {
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  color: #1B7A6F;
}
#loginForm .titFooterForm a:link, #loginForm .titFooterForm a:active, #loginForm .titFooterForm a:visited  {
  text-decoration: none;
  font-weight: bold;
  color: #1B7A6F;
}

#loginForm .titFooterForm a:hover {
  color: #502975;
}

hr {
height:1px;
background-color:#6666668c;
border-color: #80808000
}

#loginForm .btn-enviar{
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  font-size: 11px;
  width: 100%;
  background-color: #502975; /* Morado */
  border: none;
  color: white;
  padding: 3px 25px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
}

#loginForm .btn-registar{
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  font-size: 11px;
  width: 100%;
  background-color: #1B7A6F; /* Verde */
  border: none;
  color: white;
  padding: 3px 25px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}
#loginForm .flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

/*Redes sociales*/
#loginForm .login100-social-item {
  font-size: 15px;
  color: #fff;
  background-color: #1B7A6F;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
}

#loginForm .login100-social-item:hover {
  color: #502975;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
#_msgHome{
  display: none;
}
#loginForm .loginForm-bg {
width: 100%;
}

h2 .txt-home{
  font-weight:normal;
  font-size: 5px;
}

#contenedorLogin .overlay .container .row .msgHome{
position: relative;
top:0;
}
}
