<!--navbar-->
<app-navbarhome></app-navbarhome>
<!--/navbar-->
<main id="main">
  <div id="contenedorLogin">
   <img class="d-block w-100" src="/assets/images/Agrodat-App-15.jpg">
    <div class="overlay">
      <div class="container">
        <div class="row align-items-center" style="vertical-align: bottom;">
          <div class="col-md-6 text-center">
            <div class="msgHome">
              <h2 class="txt-home">Las mejores decisiones con soluciones agropecuarias</h2>
            </div>
          </div>

          <div class="col-md-6 text-center">
            <div id="loginForm">
              <div class="loginForm-bg">
               <p class="titLogin">INGRESAR</p>
               <form>
                <div class="form-group titForm">
                  <label for="Nombre">NOMBRE</label>
                  <input type="email" class="form-control inputsForm" id="Nombre" aria-describedby="emailHelp" placeholder="Ingrese nombre">
                </div>
                <div class="form-group titForm">
                  <label for="Password">CONTRASEÑA</label>
                  <input type="password" class="form-control inputsForm" id="Password" placeholder="Contraseña">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label titForm" for="recordar">Recordarme</label>
                </div>
                <button type="submit" class="btn btn-enviar">INGRESAR</button>
                <button type="submit" class="btn btn-registar" routerLink="/register">REGISTRAR</button>
                  <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                      <i class="fab fa-facebook-f"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                      <i class="fab fa-google-plus-g"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                      <i class="fab fa-linkedin-in"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <hr>
                <div class="titFooterForm"><a href="#">¿Olvido la contraseña?</a></div>
              </form>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</main>



