<!--
<app-navbarboard></app-navbarboard>
-->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-purple sidebar">
          <div class="brand">
            <img src="../../assets/images/img.jpg" alt="..." class="rounded-circle border border-dark" style="max-width: 50px; margin-right: 5px;">
            <span>{{datosUsuario.username}}</span>
          </div>
          <div class="sidebar-sticky">
            <ul class="navbar-primary-menu">
              <li>
                <a class="nav-link" href="#tableros">
                  <i class="fa fa-home"></i>
                  Tableros
                  <i class="fas fa-pen f-r"></i>
                </a>
                <!--inicio submenu-->
                <ul class="children">
                  <li><a href="#"><i class="far fa-arrow-alt-circle-right f-r"></i>Tablero inicial</a></li>
                  <li><a href="#">Tablero 1<i class="far fa-arrow-alt-circle-right f-r"></i></a></li>
                  <li><a href="#">Tablero 2<i class="far fa-arrow-alt-circle-right f-r"></i></a></li>
                  <li><a href="#">Tablero 3<i class="far fa-arrow-alt-circle-right f-r"></i></a></li>
                  <li><a href="#">Tablero 4<i class="far fa-arrow-alt-circle-right f-r"></i></a></li>
                </ul>
                <!--fin submenu-->
              </li>
              <li>
                <a class="nav-link" href="#opciones">
                  <i class="fa fa-arrow-circle-right mr-1"></i>
                  Mejor opción de venta
                  <i class="fas fa-pen f-r"></i>
                </a>
               <!--inicio submenu-->
                <ul class="children">
                  <li><a href="#">Opción 1<i class="far fa-arrow-alt-circle-right f-r"></i></a></li>
                  <li><a href="#">Opción 2<i class="far fa-arrow-alt-circle-right f-r"></i></a></li>
                  <li><a href="#">Opción 3<i class="far fa-arrow-alt-circle-right f-r"></i></a></li>
                  <li><a href="#">Opción 4<i class="far fa-arrow-alt-circle-right f-r"></i></a></li>
                </ul>
                <!--fin submenu-->
              </li>
              <li>
                <a class="nav-link" href="#produccion">
                  <i class="fa fa-leaf mr-1"></i>
                  Producción
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#clima">
                  <i class="fas fa-sun mr-1"></i>
                  Clima
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#mapas">
                  <i class="fas fa-map-marker-alt mr-1"></i>
                  Mapas
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#suelos">
                  <i class="fas fa-spa mr-1"></i>
                  Suelos
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#indicadores">
                  <i class="fas fa-money-check-alt mr-1"></i>
                  Mercado
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#indicadores">
                  <i class="fa fa-chart-line mr-1"></i>
                  Financiero
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#sanitario">
                  <i class="fas fa-bug mr-1"></i>
                  Sanitario
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#alertas">
                  <i class="fa fa-exclamation-triangle mr-1"></i>
                  Alertas
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#comparar">
                  <i class="fas fa-exchange-alt mr-1"></i>
                  Comparar
                  <i class="fas fa-pen f-r"></i>
                </a>
              </li>
            </ul>


          </div>
        </nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <div class="container">
        <div id="textNav" class="row pt-2 pb-2">
           <div class="col-sm-4 col-md-2 col-lg-2">
            <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
           </div>
           <div class="col-sm-4 col-md-8 col-lg-8 ta-right">Glosario de términos</div>
           <div class="col-sm-4 col-md-2 col-lg-2 br-1">Modo mapa <i class="fas fa-power-off"></i></div>
        </div>
      </div>
    </div>

  <div class="container">
    <h1 class="titPrincipal">¡Bienvenido!</h1>
    <section id="modulos" class="mt-4 mb-4 bg-light rounded">
            <div class="container pt-2 pb-2">
              <a name="tableros"></a>
              <h1 class="titCategoria">Precios</h1>
              <div class="row">

                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Papa criolla - Boyacá
                      <small>Producto transable</small>
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-4 col-md-7 col-lg-7">
                          </div>
                          <div class="btn-group col-sm-8 col-md-5 col-lg-5 mb-0 mt-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm bg-green1">Corriente</button>
                                <button type="button" class="btn btn-sm bg-green2">Constante</button>
                          </div>
                        </div>
                     </div>

                     <p class="card-text pt-2">
                       <app-graphs></app-graphs>
                     </p>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Semana</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Día</button>
                    </div>
                  </div>
                </div>
                <!--fin card-->

                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Banano criollo - Santander
                      <small>Producto transable</small>
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-4 col-md-7 col-lg-7">
                          </div>
                          <div class="btn-group col-sm-8 col-md-5 col-lg-5 mb-0 mt-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm bg-green1">Corriente</button>
                                <button type="button" class="btn btn-sm bg-green2">Constante</button>
                          </div>
                        </div>
                     </div>

                     <p class="card-text pt-2">
                       <app-graphs></app-graphs>
                     </p>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Semana</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Día</button>
                    </div>
                  </div>
                </div>
                <!--fin card-->

                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Cebolla cabezona blanca - Boyacá
                      <small>Producto transable</small>
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-4 col-md-7 col-lg-7">
                          </div>
                          <div class="btn-group col-sm-8 col-md-5 col-lg-5 mb-0 mt-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm bg-green1">Corriente</button>
                                <button type="button" class="btn btn-sm bg-green2">Constante</button>
                          </div>
                        </div>
                     </div>

                     <p class="card-text pt-2">
                       <app-graphs></app-graphs>
                     </p>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Semana</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Día</button>
                    </div>
                  </div>
                </div>
                <!--fin card-->


            </div>
            <a name="clima"></a>
            <h1 class="titCategoria">Clima</h1>
              <div class="row">

                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Boyaca - Paipa - Vereda1
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-4 col-md-7 col-lg-7">
                          </div>
                          <div class="btn-group col-sm-8 col-md-5 col-lg-5 mb-0 mt-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm bg-green1">Corriente</button>
                                <button type="button" class="btn btn-sm bg-green2">Constante</button>
                          </div>
                        </div>
                     </div>

                     <p class="card-text pt-2">
                       <app-graphs></app-graphs>
                     </p>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Semana</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Día</button>
                    </div>
                  </div>
                </div>
                <!--fin card-->
                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Santander - Barichara - Vereda 1
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-4 col-md-7 col-lg-7">
                          </div>
                          <div class="btn-group col-sm-8 col-md-5 col-lg-5 mb-0 mt-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm bg-green1">Corriente</button>
                                <button type="button" class="btn btn-sm bg-green2">Constante</button>
                          </div>
                        </div>
                     </div>

                     <p class="card-text pt-2">
                       <app-graphs></app-graphs>
                     </p>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Semana</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Día</button>
                    </div>
                  </div>
                </div>
                <!--fin card-->
                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Boyaca - Paipa - Vereda 1
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container">
                        <div class="row" >
                          <div class="col-sm-4 col-md-7 col-lg-7">
                          </div>
                          <div class="btn-group col-sm-8 col-md-5 col-lg-5 mb-0 mt-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm bg-green1">Corriente</button>
                                <button type="button" class="btn btn-sm bg-green2">Constante</button>
                          </div>
                        </div>
                     </div>

                     <p class="card-text pt-2">
                       <app-graphs></app-graphs>
                     </p>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Semana</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Día</button>
                    </div>
                  </div>
                </div>
                <!--fin card-->

            </div><!--fin row-->
            <a name="opciones"></a>
            <h1 class="titCategoria">Mejor opción de venta</h1>
              <div class="row">
                <!--filtros-->
                <div class="container">
                  <div class="row pb-5 pt-3">
                    <form class="form-inline">
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Origen">Origen: </label>
                          <select class="form-control form-control-sm">
                            <option>Origen 1</option>
                            <option>Origen 2</option>
                            <option>Origen 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Destino">Destino: </label>
                          <select class="form-control form-control-sm">
                            <option>Destino 1</option>
                            <option>Destino 2</option>
                            <option>Destino 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Producto">Producto: </label>
                          <select class="form-control form-control-sm">
                            <option>Producto 1</option>
                            <option>Producto 2</option>
                            <option>Producto 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <button type="submit" class="btn btn-sm mr-1 bg-green1">Limpiar Búsqueda</button>
                        </div>
                    </form>
                  </div>
                </div>
                <!--fin filtros-->
                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Pronóstico: Papa Criolla -(Boyacá - Bogotá)
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container pt-2">
                      <div class="row">
                        <div class="col-sm-7 col-md-7 col-lg-7 pl-0 pr-1">
                             <table class="tableSup" cellspacing="10" cellpadding="2">
                              <tr>
                                <td>Origen: Boyacá, Paipa</td>
                                <td>Distancia(km):350 km</td>
                              </tr>
                              <tr>
                                <td>Destino: Bogotá</td>
                                <td>Precio Neto: $400.000 COL</td>
                              </tr>
                              <tr>
                                <td>Producto: Papa Criolla</td>
                                <td></td>
                              </tr>
                             </table>
                              <p class="card-text pt-0">
                               <app-graphs></app-graphs>
                              </p>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 pl-1 pr-0">

                          <!--<agm-map [latitude]="lat" [longitude]="lng" [zoom]=11>
                           <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                          </agm-map>-->
                        </div>
                      </div>
                      <div class="row pb-5">
                        <button type="button" class="btn btn-sm mr-1 bg-green1">Mes</button>
                        <button type="button" class="btn btn-sm mr-1 bg-green2">Semana</button>
                        <button type="button" class="btn btn-sm mr-1 bg-green2">Día</button>
                      </div>
                     </div>


                     <div class="container">
                      <div class="row">
                         <div class="col-sm-6 col-md-6 col-lg-6 pl-0 pr-0">
                            <div class="table-responsive-sm">
                              <legend>Mejor precio por ciudad</legend>
                              <table class="table tablaDatos">
                                  <thead>
                                    <tr>
                                      <th scope="col"></th>
                                      <th scope="col">Ciudad</th>
                                      <th scope="col">Mejor precio</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1.</td>
                                      <td>Bogotá</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>2.</td>
                                      <td>Itaguí</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>3.</td>
                                      <td>Cali</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>4.</td>
                                      <td>Cúcuta</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>5.</td>
                                      <td>Bogotá</td>
                                      <td>1000000</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                         </div>
                         <div class="col-sm-6 col-md-6 col-lg-6 pl-0 pr-0">
                          <div class="table-responsive-sm">
                              <legend>Mejor precio por central</legend>
                              <table class="table tablaDatos">
                                  <thead>
                                    <tr>
                                      <th scope="col"></th>
                                      <th scope="col">Central</th>
                                      <th scope="col">Mayor precio</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1.</td>
                                      <td>CORABASTOS</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>2.</td>
                                      <td>ASOABASTOS</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>3.</td>
                                      <td>CAVA SA</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>4.</td>
                                      <td>CENABASTOS</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>5.</td>
                                      <td>CODABAS</td>
                                      <td>1000000</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                         </div>
                      </div>
                     </div>
                    </div>
                  </div>
                </div>
                <!--fin card-->

                 <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Pronóstico: Papa Criolla -(Boyacá - Bogotá)
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">

                     <div class="container pt-2">
                      <div class="row">
                        <div class="col-sm-7 col-md-7 col-lg-7 pl-0 pr-1">
                             <table class="tableSup" cellspacing="10" cellpadding="2">
                              <tr>
                                <td>Origen: Boyacá, Paipa</td>
                                <td>Distancia(km):350 km</td>
                              </tr>
                              <tr>
                                <td>Destino: Bogotá</td>
                                <td>Precio Neto: $400.000 COL</td>
                              </tr>
                              <tr>
                                <td>Producto: Papa Criolla</td>
                                <td></td>
                              </tr>
                             </table>
                              <p class="card-text pt-0">
                               <app-graphs></app-graphs>
                              </p>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 pl-1 pr-0">
                          <!--<agm-map [latitude]="lat" [longitude]="lng" [zoom]=11>
                           <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                          </agm-map>-->
                        </div>
                      </div>
                      <div class="row pb-5">
                        <button type="button" class="btn btn-sm mr-1 bg-green1">Mes</button>
                        <button type="button" class="btn btn-sm mr-1 bg-green2">Semana</button>
                        <button type="button" class="btn btn-sm mr-1 bg-green2">Día</button>
                      </div>
                     </div>


                     <div class="container">
                      <div class="row">
                         <div class="col-sm-6 col-md-6 col-lg-6 pl-0 pr-0">
                            <div class="table-responsive-sm">
                              <legend>Mejor precio por ciudad</legend>
                              <table class="table tablaDatos">
                                  <thead>
                                    <tr>
                                      <th scope="col"></th>
                                      <th scope="col">Ciudad</th>
                                      <th scope="col">Mejor precio</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1.</td>
                                      <td>Bogotá</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>2.</td>
                                      <td>Itaguí</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>3.</td>
                                      <td>Cali</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>4.</td>
                                      <td>Cúcuta</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>5.</td>
                                      <td>Bogotá</td>
                                      <td>1000000</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                         </div>
                         <div class="col-sm-6 col-md-6 col-lg-6 pl-0 pr-0">
                          <div class="table-responsive-sm">
                              <legend>Mejor precio por central</legend>
                              <table class="table tablaDatos">
                                  <thead>
                                    <tr>
                                      <th scope="col"></th>
                                      <th scope="col">Central</th>
                                      <th scope="col">Mayor precio</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1.</td>
                                      <td>CORABASTOS</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>2.</td>
                                      <td>ASOABASTOS</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>3.</td>
                                      <td>CAVA SA</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>4.</td>
                                      <td>CENABASTOS</td>
                                      <td>1000000</td>
                                    </tr>
                                    <tr>
                                      <td>5.</td>
                                      <td>CODABAS</td>
                                      <td>1000000</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                         </div>
                      </div>
                     </div>
                    </div>
                  </div>
                </div>
                <!--fin card-->

              </div>
              <a name="produccion"></a>
              <h1 class="titCategoria">Producción</h1>
              <div class="row">
                <!--filtros-->
                <div class="container">
                  <div class="row pb-5 pt-3">
                    <form class="form-inline">
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Departamento">Departamento: </label>
                          <select class="form-control form-control-sm">
                            <option>Departamento 1</option>
                            <option>Departamento 2</option>
                            <option>Departamento 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Municipio">Municipio: </label>
                          <select class="form-control form-control-sm">
                            <option>Municipio 1</option>
                            <option>Municipio 2</option>
                            <option>Municipio 3</option>
                          </select>
                        </div>

                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Vereda">Vereda: </label>
                          <select class="form-control form-control-sm">
                            <option>Vereda 1</option>
                            <option>Vereda 2</option>
                            <option>Vereda 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Producto">Producto: </label>
                          <select class="form-control form-control-sm">
                            <option>Producto 1</option>
                            <option>Producto 2</option>
                            <option>Producto 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-5">
                          <button type="submit" class="btn btn-sm mr-1 bg-green1">Limpiar Búsqueda</button>
                        </div>
                    </form>
                  </div>
                </div>
                <!--fin filtros-->
                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Papa Criolla - Paipa - Vereda 1
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <div class="container">
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">Area sembrada</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">Area cosechada</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                          <label class="form-check-label" for="inlineRadio3">Rendimiento</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio34" value="option4">
                          <label class="form-check-label" for="inlineRadio4">Producción</label>
                        </div>
                     </div>
                     <div class="container pt-2">
                          <!--<agm-map [latitude]="lat" [longitude]="lng" [zoom]=11>
                           <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                          </agm-map>-->
                    </div>
                     <div class="container">
                      <small><strong>Ver desde:</strong> 01-01-2017 <strong>a</strong> 30-12-2018</small>
                     </div>
                    </div>
                  </div>
                </div>
                <!--fin card-->
                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Papa Criolla - Paipa - Vereda 1
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <div class="container">
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">Area sembrada</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">Area cosechada</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                          <label class="form-check-label" for="inlineRadio3">Rendimiento</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio34" value="option4">
                          <label class="form-check-label" for="inlineRadio4">Producción</label>
                        </div>
                     </div>
                     <div class="container pt-2">
                          <!--<agm-map [latitude]="lat" [longitude]="lng" [zoom]=11>
                           <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                          </agm-map>-->
                     </div>
                     <div class="container txt">
                      <small><strong>Ver desde:</strong> 01-01-2017 <strong>a</strong> 30-12-2018</small>
                     </div>
                    </div>
                  </div>
                </div>
                <!--fin card-->

              </div>
               <h1 class="titCategoria">Clima</h1>
              <div class="row">
                <!--filtros-->
                <div class="container">
                  <div class="row pb-5 pt-3">
                    <form class="form-inline">
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Departamento">Departamento: </label>
                          <select class="form-control form-control-sm">
                            <option>Departamento 1</option>
                            <option>Departamento 2</option>
                            <option>Departamento 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Municipio">Municipio: </label>
                          <select class="form-control form-control-sm">
                            <option>Municipio 1</option>
                            <option>Municipio 2</option>
                            <option>Municipio 3</option>
                          </select>
                        </div>

                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Vereda">Vereda: </label>
                          <select class="form-control form-control-sm">
                            <option>Vereda 1</option>
                            <option>Vereda 2</option>
                            <option>Vereda 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Producto">Producto: </label>
                          <select class="form-control form-control-sm">
                            <option>Producto 1</option>
                            <option>Producto 2</option>
                            <option>Producto 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-5">
                          <button type="submit" class="btn btn-sm mr-1 bg-green1">Limpiar Búsqueda</button>
                        </div>
                    </form>
                  </div>
                </div>
                <!--fin filtros-->
                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Papa Criolla - Paipa - Vereda 1
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <div class="container pt-2">
                      <app-graphs></app-graphs>
                     </div>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Década</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Año</button>
                    </div>
                  </div>
                </div>
                <!--fin card-->
                <!--ini card-->
                <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Papa Criolla - Paipa - Vereda 1
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <div class="container pt-2">
                      <app-graphs></app-graphs>
                     </div>
                    </div>
                    <div class="card-footer bg-light">
                      <button type="button" class="btn btn-sm mr-1 bg-green1">Década</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Mes</button>
                      <button type="button" class="btn btn-sm mr-1 bg-green2">Año</button>
                    </div>
                  </div>
                </div>
                <!--fin card-->

              </div>

              <a name="comparar"></a>
              <h1 class="titCategoria">Simulación</h1>
              <div class="row">
                <!--filtros-->
                <div class="container">
                  <div class="row pb-5 pt-3">
                    <form class="form-inline">
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Departamento">Departamento: </label>
                          <select class="form-control form-control-sm">
                            <option>Departamento 1</option>
                            <option>Departamento 2</option>
                            <option>Departamento 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Municipio">Municipio: </label>
                          <select class="form-control form-control-sm">
                            <option>Municipio 1</option>
                            <option>Municipio 2</option>
                            <option>Municipio 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Vereda">Vereda: </label>
                          <select class="form-control form-control-sm">
                            <option>Vereda 1</option>
                            <option>Vereda 2</option>
                            <option>Vereda 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-5">
                          <button type="submit" class="btn btn-sm mr-1 bg-green1">Limpiar Búsqueda</button>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Departamento">Producto: </label>
                          <select class="form-control form-control-sm">
                            <option>Producto 1</option>
                            <option>Producto 2</option>
                            <option>Producto 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="FechaSiembra">Fecha de siembra: </label>
                          <input type="text" class="form-control" id="FechaSiembra" placeholder="Fecha de siembra">
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Vereda">Tipo de suelo: </label>
                          <select class="form-control form-control-sm">
                            <option>Tipo de suelo 1</option>
                            <option>Tipo de suelo 2</option>
                            <option>Tipo de suelo 3</option>
                          </select>
                        </div>
                    </form>
                  </div>
                </div>
                <!--fin filtros-->

                <!--ini card-->
                <div class="col-sm-12 col-md-46 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Papa Capira - Boyaca - Paipa
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="tablaDatos">Demanda Cultivo</th>
                          <th scope="col" class="tablaDatos">Índice de satisfacción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Germinación</td>
                          <td>4.0%</td>
                        </tr>
                        <tr>
                          <td>Crecimiento</td>
                          <td>4.6%</td>
                        </tr>
                        <tr>
                          <td>Formación</td>
                          <td>4.9%</td>
                        </tr>
                        <tr>
                          <td>Raíz</td>
                          <td>6.6%</td>
                        </tr>
                        <tr>
                          <td>Cosecha</td>
                          <td>5.2%</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
                <!--fin card-->

                <!--ini card-->
                <div class="col-sm-12 col-md-46 col-lg-6 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Papa Capira - Boyaca - Paipa
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="tablaDatos">Demanda Cultivo</th>
                          <th scope="col" class="tablaDatos">Índice de satisfacción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Germinación</td>
                          <td>4.0%</td>
                        </tr>
                        <tr>
                          <td>Crecimiento</td>
                          <td>4.6%</td>
                        </tr>
                        <tr>
                          <td>Formación</td>
                          <td>4.9%</td>
                        </tr>
                        <tr>
                          <td>Raíz</td>
                          <td>6.6%</td>
                        </tr>
                        <tr>
                          <td>Cosecha</td>
                          <td>5.2%</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
                <!--fin card-->

              </div>



              <a name="indicadores"></a>
              <h1 class="titCategoria">Indicadores macroeconómicos</h1>
              <div class="row">
                <!--filtros-->
                <div class="container">
                  <div class="row pb-5 pt-3">
                    <form class="form-inline">
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Departamento">Variable: </label>
                          <select class="form-control form-control-sm">
                            <option>Variable 1</option>
                            <option>Variable 2</option>
                            <option>Variable 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-2 pr-2">
                          <label for="Municipio">Periódo: </label>
                          <select class="form-control form-control-sm">
                            <option>Periódo 1</option>
                            <option>Periódo 2</option>
                            <option>Periódo 3</option>
                          </select>
                        </div>
                        <div class="form-group mb-2 pl-5">
                          <button type="submit" class="btn btn-sm mr-1 bg-green1">Limpiar Búsqueda</button>
                        </div>
                    </form>
                  </div>
                </div>
                <!--fin filtros-->

                <!--ini card-->
                <div class="col-sm-12 col-md-4 col-lg-4 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      PIB 2007 - 2017
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="tablaDatos">Fecha</th>
                          <th scope="col" class="tablaDatos">%</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2017</td>
                          <td>4.0%</td>
                        </tr>
                        <tr>
                          <td>2016</td>
                          <td>4.6%</td>
                        </tr>
                        <tr>
                          <td>2015</td>
                          <td>4.9%</td>
                        </tr>
                        <tr>
                          <td>2014</td>
                          <td>6.6%</td>
                        </tr>
                        <tr>
                          <td>2013</td>
                          <td>5.2%</td>
                        </tr>
                        <tr>
                          <td>2012</td>
                          <td>3.1%</td>
                        </tr>
                        <tr>
                          <td>2011</td>
                          <td>2.0%</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
                <!--fin card-->

                <!--ini card-->
                <div class="col-sm-12 col-md-4 col-lg-4 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Inflación 2007 - 2017
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="tablaDatos">Fecha</th>
                          <th scope="col" class="tablaDatos">%</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2017</td>
                          <td>4.0%</td>
                        </tr>
                        <tr>
                          <td>2016</td>
                          <td>4.6%</td>
                        </tr>
                        <tr>
                          <td>2015</td>
                          <td>4.9%</td>
                        </tr>
                        <tr>
                          <td>2014</td>
                          <td>6.6%</td>
                        </tr>
                        <tr>
                          <td>2013</td>
                          <td>5.2%</td>
                        </tr>
                        <tr>
                          <td>2012</td>
                          <td>3.1%</td>
                        </tr>
                        <tr>
                          <td>2011</td>
                          <td>2.0%</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
                <!--fin card-->

                <!--ini card-->
                <div class="col-sm-12 col-md-4 col-lg-4 pb-2 pt-2">
                  <div class="card smb-42">
                    <div class="card-header styHeaderCard">
                      <i class="fa fa-home mr-1"></i>
                      Población 2007 - 2017
                      <i class="fas fa-pen" style="float: right;"></i>
                    </div>

                    <div class="card-body">
                     <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="tablaDatos">Fecha</th>
                          <th scope="col" class="tablaDatos">%</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2017</td>
                          <td>4.0%</td>
                        </tr>
                        <tr>
                          <td>2016</td>
                          <td>4.6%</td>
                        </tr>
                        <tr>
                          <td>2015</td>
                          <td>4.9%</td>
                        </tr>
                        <tr>
                          <td>2014</td>
                          <td>6.6%</td>
                        </tr>
                        <tr>
                          <td>2013</td>
                          <td>5.2%</td>
                        </tr>
                        <tr>
                          <td>2012</td>
                          <td>3.1%</td>
                        </tr>
                        <tr>
                          <td>2011</td>
                          <td>2.0%</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
                <!--fin card-->

              </div>

          </div>
    </section>
  </div>
 <!--/módulos-->
        </main>
      </div>
    </div>


