<!--
<app-navbarboard></app-navbarboard>
-->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2  d-none d-md-block bg-purple sidebar">
          <div class="brand">
            <img src="../../assets/images/img.jpg" alt="..." class="rounded-circle border border-dark" style="max-width: 50px; margin-right: 5px;">
            <span>{{usuarioSesion}}</span>
          </div>
          <div class="sidebar-sticky">
            <ul class="navbar-primary-menu">
            <ng-container *ngFor="let opcionesMenu of menuLateral; let i = index">
              <li>
                <a class="nav-link" routerLink="/dashboard/{{opcionesMenu.link}}">
                  <i class="{{opcionesMenu.icono}} mr-1"></i>
                  {{opcionesMenu.titulo}}
                  <!--<i class="fas fa-pen f-r"></i>-->
                </a>
                  <!--inicio submenu-->
                  <ul class="children" *ngIf="opcionesMenu.submenu>0">
                    <ng-container *ngFor="let subitems of opcionesMenu.items_sub">
                    <li><a href="#" routerLink="/board"><i class="far fa-arrow-alt-circle-right f-r"></i>{{subitems.titulo_sub}}</a></li>
                    </ng-container>
                  </ul>
                  <!--fin submenu-->

              </li>
            </ng-container>

            </ul>


          </div>
        </nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">  <div class="container">
        <div class="row">
           <div class="col-sm-6 col-md-9 col-lg-10 ta-right p-2 border-right">
            Glosario de términos
           </div>
           <div class="col-sm-6 col-md-3 col-lg-2 ta-right p-2">
            <a  (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
           </div>
        </div>
    </div>
  </div>

  <div class="container-fluid pl-2 m-0">
    <h1 class="titPrincipal p-3">¡Bienvenido!</h1>
    <section id="modulos" class="p-0 m-0 bg-light">
      <div class="container-fluid p-0 m-0">

       <router-outlet></router-outlet>

      </div>
    </section>
  </div>
 <!--/módulos-->
        </main>
      </div>
    </div>


